@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Selected Car Feature</h4>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="FeatureID"/>
                                <label for="exampleInputName">Feature</label>
                                <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Your Feature" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Update Car Feature</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

