@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Banner</h4>
                        <p class="card-subtitle mb-4">
                            Main Page banner Edit Page
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>VideoDescription</th>
                                        <th>Title</th>
                                        <th>VideoUrl</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Watch on Youtube</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Description</td>
                                            <td>@item.VideoDescription</td>
                                            <td>@item.Title</td>
                                            <td>@item.VideoUrl</td>
                                            <td><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-outline-success">Watch on Youtube</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-outline-primary">New banner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>