@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Service</h4>
                        <p class="card-subtitle mb-4">
                            Main Page Service Edit Page
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>IconUrl</th>
                                        <th>Description</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Service Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Title</td>
                                            <td>@item.IconUrl</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/AdminService/RemoveService/@item.ServiceID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminService/UpdateService/@item.ServiceID" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/Admin/AdminService/ServiceDetail/@item.ServiceID" class="btn btn-outline-success">Service Detail</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminService/CreateService/" class="btn btn-outline-primary">New Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>